{
  "env": {
    "browser": true,
    "es6": false,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
},
  "plugins": [
    "jsx-ally"
  ],
  "extends": [
    "plugin:jsx-a11y/recommended"
]
}
